extends ../application.pug

block content
  .container
    .card.card-block
      .row
        .col-xs-12.col-md-8
          h1=book.title
          h2=book.author
          img(width="145" height="200" src=book.imgURL)
          p=book.description
          button(class="btn btn-success get-button") Get this book
