html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Bookclub Foundation
    link(href='../public/css/3-col-portfolio.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='#') Bookclub Foundation
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
      if user
        a(href="/logout" style="margin-left:5px" class="btn btn-primary float-xs-right") Logout
        a(href="posts/new" style="margin-left:5px" class="btn btn-success float-xs-right") Add book
        a(href="my-posts" style="margin-left:5px" class="btn btn-warning float-xs-right") My profile
        p(style="margin-left:5px" class="btn btn-warning float-xs-right") Welcome back, #{user.name}!
        a(href='#') Contact Us

      else
        a(href="admin/users/new" style="margin-left:5px" class="btn btn-primary float-xs-right") Register as a sponsor
        a(href="admin/users/new" style="margin-left:5px" class="btn btn-info float-xs-right") Register as a reader
        a(href="admin/login" style="margin-left:5px" class="btn btn-success float-xs-right") Login
        a(href='#') Contact Us
      //- a(href="admin/posts/new" style="margin-left:5px" class="btn btn-success float-xs-right") Create new post

    block content
