extends ./application.pug

block content
  .container.col-md-4.float-xs-right
      ul.nav.nav-tabs.nav-stacked
        li
          a(href='#') Contact us
        li
          a(href='#') More info for schools
        li
          a(href='#') Why become a sponsor?

        p We match students with sponsors who want to share the books that they love...
  .container.col-md-8
    h1 Bookclub
    p Peer-to-peer book sponsoring

    .container
      h2 Recently sponsored books
      h2
        .row
          each book in books
            .col-sm-4
              a(href="/books/" + book.slug)
                img(width="145" height="200" src=book.imgURL)
              h3= book.title
