extends ./application.pug

block content

    .container
      .row
        .col-lg-12
          h1.page-header Bookclub
      each book in books
        .col-lg-3.col-md-4.col-xs-6.thumb
          a.thumbnail(href="/books/" + book.slug)
            img.img-responsive(src=book.imageSrc, alt='')
          h3= book.title
      .col-lg-3.col-md-4.col-xs-6.thumb
        a(href='#') Contact us
        br
        a(href='#') More info
        br
        a(href='#') Another link
        p Taxidermy williamsburg butcher, slow-carb mustache literally mumblecore affogato gentrify PBR&B cold-pressed. Hammock coloring book put a bird on it roof party. Godard fap aesthetic selvage, vinyl fixie pug YOLO try-hard poke lomo iceland. Blue bottle lyft distillery, craft beer man bun brooklyn salvia. Ennui tote bag bespoke post-ironic, normcore tattooed glossier church-key pitchfork PBRB iceland lyft.
      hr
      footer
        .row
          .col-lg-12
            p Copyright &copy;
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
