extends ./application.pug

block content

    .container
      .row
        .col-lg-12
          h1.page-header
            h1 Bookclub
            h3 Peer-to-peer book sponsoring
      .row
        .col-lg-12
          h1.page-header
            h3 Recently added books

      .row
        each book in books
          .col-md-4.portfolio-item
            a(href="/books/" + book.slug)
             img(width="200" height="350" src=book.imageSrc)
            h3= book.title
            p= book.description
      hr
      .row.text-center
        .col-lg-12
      footer
        .row
          .col-lg-12
            p Copyright &copy; Bookclub Foundation 2014
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
