extends ../application.pug

block content
              .container
                .wrapper
                  form.form-signin(action='/users', method='POST')
                    h3.form-signin-heading Nice of you to join us!
                    hr.colorgraph
                    br

                    input.form-control(type='text', name='name', placeholder='Name', required='', autofocus='')

                    input.form-control(type='text', name='surname', placeholder='Surname', required='')

                    input.form-control(type='text', name='email', placeholder='Email', required='', autofocus='')

                    input.form-control(type='password', name='password', placeholder='Password', required='')


                    button.btn.btn-lg.btn-primary.btn-block(name='Submit', value='Login', type='Submit') Create an account
