extends ../application.pug

block content
  .container
    .row
      .col-xs-8.offset-xs-2
        h1 Create reader Account
        hr
        form(action="/authentication/readers" method="POST")
          div(class="form-group")
            label(for="name") Name
            input(name="name" type="text" class="form-control" id="name")
          div(class="form-group")
            label(for="email") Email
            input(name="email" type="text" class="form-control" id="email")
          div(class="form-group")
            label(for="password") Password
            input(name="password" type="password" class="form-control" id="password")
          div(class="form-group")
            label(for="aboutme") About me
            textarea(name="aboutme" type="text" class="form-control" rows=5 id="aboutme")
          div(class="form-group text-xs-right")
            button(type="submit" class="btn btn-lg btn-success") Create reader
